nav {
    background-color: #ffffff;
    border-color: #cccccc;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #cb4154;
    border-bottom: solid #cb4154 1px;
}

footer {
    background-color: #666666;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-top: #4aaaa5 solid 8px; 
}

body {
    border-color: #dddddd;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/qbkls.png");
}

h2 {
    color: #4aaaa5;

}

header {
    border-bottom: solid #cccccc;
    background-color: #ffffff; 
    height: 60px;
    width: 100%;
}

textarea {
    width: 400px;
    height: 200px;
}

form {
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    background-color: white;
    height: 500px;
    width: 860px;
    clear: both;
    margin: 0px 0px 20px 19%;
    border-radius: 25px;
    padding: 50px 50px 0px 50px;
}

.fieldText {
    color: #cccccc;
}

.kitties{
    border-radius: 10px;
}

.bioText {
    color: #777777;
    text-indent: 2em;
}

.botBorder {
    border-bottom: 2px solid #ccc;
    width: 860px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.ribbon{
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    margin-top: 110px;
    position: absolute;
    width: 223px;
    padding: 1px;
}

.push, .footer {
    height: 50px;
}

#nameNav {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 18px 25px 18px 25px;
    margin-left: 15%;
    margin-top: 0;
    border-radius: 5px;
    font-size: 20px;
    font-family: Audiowide;
}

#indexNav, #contactNav, #portfolioNav {
float: right;
margin: 18px 10px 0px 0px;
background-color: #ffffff;
padding: 5px;
border-right: solid #cb4154;
padding-right: 15px;
}

#bioPic {
    float: left;
    height: 150px;
    width: 200x;
    border-radius: 10px;
    margin: 20px 40px 40px 0px;
}

#contactNav {
    margin-right: 10%;
}

#cat1{
    background-image: url("../images/cat1.jpg");
}

#cat2{
    background-image: url("../images/cat2.jpg");
}

#cat3{
    background-image: url("../images/cat3.jpg");
}

#cat4{
    background-image: url("../images/cat4.jpg");
}

#cat5{
    background-image: url("../images/cat5.jpg");
}

#cat6{
    background-image: url("../images/cat6.jpg");
}

#cat1, #cat2, #cat3, #cat4, #cat5, #cat6 {
    height: 190px;
    width: 225px;
    float: left;
    margin: 0px 15px 15px 30px;
    border-radius: 10px;
    position: relative;
}